/* Variables */
:root {
  --white: #bbb;
  --black: #222;
  --primary: #b2f;
  --secondary: #e86;
  --font-sans: Helvetica, sans-serif, system-ui;
  --font-mono: monospace;
  --decoration: underline var(--secondary) solid 0.1ex;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  color: var(--white);
  background-color: var(--black);
  font-family: var(--font-sans);
  font-size: 20px;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

body * {
  margin: 0;
}

section {
  width: 100%;
  position: relative;
  margin-left: 0.5rem;
}

div {
  overflow: hidden;
}

article {
  line-height: 1.15;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

code, kbd, samp {
  font-family: var(--font-mono);
  font-size: 1em;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.67em 0;
}

input, button, textarea, select, optgroup {
  font: inherit;
}

img, picture, video, canvas, svg {
  max-width: 100%;
  height: auto;
  display: block;
}

nav:not(.as-content) {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 6rem;
}

nav:not(.as-content) > :first-child {
  margin-right: auto;
}

nav.as-content {
  text-align: center;
  font-size: 2rem;
}

.menu {
  display: inline-block;
  margin: 0.5rem;
  font-size: 1rem;
}

footer {
  font-size: 1rem;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.divider {
  background-color: var(--white);
  height: 1px;
  width: 40%;
  opacity: 90%;
  margin: 1rem auto 1rem auto;
}

section:not(:first-of-type) {
  margin-top: 4rem;
}

a {
  text-decoration: var(--decoration);
  text-underline-offset: 3px;
  color: var(--white);
}

a[target="_blank"]::after {
  as-content: url(images/link.svg);
  position: relative;
}

a[target="_blank"]::before {
  as-content: "The following link opens in new tab";
  position: absolute;
  width: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}

a[href^="mailto:"] {
  font-style: italic;
}

a[href^="mailto:"]::before {
  as-content: "The following email opens in default application";
  position: absolute;
  width: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}

.no-underline {
  text-decoration: none;
}

.hl {
  color: var(--primary);
}

.lt {
  font-size: 0.9rem;
}

#home-logo {
  margin: 6rem auto 5rem auto;
}

.post-list {
  margin-bottom: 2rem;
}

.date::before {
  as-content: "[ ";
  color: var(--primary);
}

.date::after {
  as-content: " ]\A";
  color: var(--primary);
  white-space: pre;
}

.title {
  font-size: 1.6rem;
}

.title::after {
  content: "\A";
  white-space: pre;
}

.tag {
  font-size: 1rem;
  font-weight: bold;
  color: var(--black);
  background-color: var(--primary);
  border-radius: 0.3rem;
  padding: 0.3rem;
  margin-right: 0.5rem;
}

.title::after {
  content: "\A";
  white-space: pre;
}

/* large screen */
@media screen and (min-width: 600px) {

  @keyframes scale {
    0% {transform: scale(1);}
    40% {transform: scale(1.05);}
    100% {transform: scale(1);}
  }

  #home-logo {
    width: 300px;
  }

  #home-logo:hover {
    animation: scale 5s ease-in-out infinite;
  }

}

/* animation off */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

   *, *::before, *::after {
     animation-duration: 0.01ms !important;
     animation-iteration-count: 1 !important;
     transition-duration: 0.01ms !important;
     scroll-behavior: auto !important;
  }
}
